<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="search">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
<!--    <ion-tab-button tab="filters">-->
<!--      <ion-icon name="filter"></ion-icon>-->
<!--      Filters-->
<!--    </ion-tab-button>-->
    <ion-tab-button tab="timeline">
      <ion-icon name="time"></ion-icon>
      Timeline
    </ion-tab-button>
<!--    <ion-tab-button tab="library">-->
<!--      <ion-icon name="library"></ion-icon>-->
<!--      Library-->
<!--    </ion-tab-button>-->
    <ion-tab-button tab="settings">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      More
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
