<ion-header #Header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ui-back-button></ui-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
<!--      <ion-button (click)="toggleBookmark()"><ion-icon slot="icon-only" [name]="bookmarked?'bookmark':'bookmark-outline'"></ion-icon></ion-button>-->
      <ion-button (click)="openWebPage()"><ion-icon slot="icon-only" name="globe-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{ (work!=null)?work!.title:'' }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" UIHideHeader [header]="Header">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @if (work != null) {
    <h1 class="mx-3 mt-3" [HoldToCopy]="work!.title">{{ work!.title }}</h1>
    <div class="mx-3 mt-4"><views-work-view-metadata [work]="work"></views-work-view-metadata></div>
    <div class="mx-3 mt-3"><ui-drop-down-html [HTML]="work!.summary"></ui-drop-down-html></div>
    <div class="mx-3 mt-3"><h4>{{ work.chapterStats }} Chapters</h4></div>
    @if (work.chapters.length > 0) {
      <div class="mt-3">
        @for (chapter of work.chapters.slice().reverse(); track chapter.id) {
          <ion-nav-link (click)="openChapter(chapter)">
            <ion-item>
              <ion-label [ngClass]="chapterComplete(chapter.history)" class="ion-text-nowrap">{{ chapter.chapterListHeader.length>0?chapter.chapterListHeader:chapter.chapterHeader }}</ion-label>
            </ion-item>
          </ion-nav-link>
        }
      </div>
    }

    @if (work.resumeChapterId != null) {
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button [routerLink]="'/work/' + work!.id + '/chapter/' + work!.resumeChapterId">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    }
  }
  @else {
    <div class="position-relative h-100 w-100">
      <div class="position-absolute top-50 start-50 translate-middle"><ion-spinner></ion-spinner></div>
    </div>
  }
  <div class="bottom-bumper"></div>
</ion-content>
