<div class="m-4">
  <h1>The Archive of Our Own is a project of the Organization for Transformative Works, this is Nano's Test Branch.</h1>
  <p class="mt-4">A fan-created, fan-run, nonprofit, noncommercial archive for transformative fanworks, like fanfiction, fanart, fan videos, and podfic</p>
  <p class="fw-bold">This is an unofficial app dedicated to the project</p>
  <hr class="mt-4">
  <div class="d-flex">
    <h3 class="my-2">AO3 News</h3>
    <ion-button class="ms-auto my-auto ion-text-color" fill="clear" (click)="openBrowser('https://archiveofourown.org/admin_posts')">All News<ion-icon name="open-outline" class="ms-2"></ion-icon></ion-button>
  </div>
  <hr>
  <h3 class="mt-4 mb-3">Follow us</h3>
  <p>Follow the Archive on Twitter or Tumblr for status updates, and don't forget to check out the Organization for Transformative Works' news outlets for updates on our other projects!</p>
  <div>
    <ion-chip [outline]="true" (click)="openBrowser('https://www.transformativeworks.org/where-find-us/')">
      <ion-icon name="open-outline"></ion-icon>
      <ion-label>OTW News Outlets</ion-label>
    </ion-chip>
    <ion-chip [outline]="true" (click)="openBrowser('https://twitter.com/AO3_Status')">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>&#64;AO3_Status on Twitter</ion-label>
    </ion-chip>
    <ion-chip [outline]="true" (click)="openBrowser('https://ao3org.tumblr.com/')">
      <ion-icon name="logo-tumblr"></ion-icon>
      <ion-label>ao3org on Tumblr</ion-label>
    </ion-chip>
  </div>
</div>
